body {
  margin:0;
  font-family: Arial;
  background:#0d1117;
  color:white;
}

body.light {
  background:#f5f5f5;
  color:black;
}

.topbar {
  display:flex;
  justify-content:space-between;
  padding:8px 15px;
  background:#161b22;
}

body.light .topbar {
  background:#ddd;
}

.app {
  display:flex;
  height:calc(100vh - 40px);
}

.sidebar {
  width:250px;
  background:#161b22;
  padding:10px;
  overflow:auto;
}

body.light .sidebar {
  background:#eaeaea;
}

#fileTree div {
  padding:6px;
  cursor:pointer;
  border-radius:4px;
}

#fileTree div:hover {
  background:#30363d;
}

body.light #fileTree div:hover {
  background:#ccc;
}

.resizer {
  width:5px;
  cursor:ew-resize;
  background:#30363d;
}

.main {
  flex:1;
  display:flex;
  flex-direction:column;
}

#tabs {
  display:flex;
  overflow:auto;
  background:#161b22;
}

.tab {
  padding:8px 15px;
  cursor:pointer;
}

.tab.active {
  background:#30363d;
}

.editor-container {
  flex:1;
  display:flex;
}

#editor {
  flex:1;
}

.preview-container {
  width:40%;
  border-left:2px solid #30363d;
}

#preview {
  width:100%;
  height:100%;
  border:none;
  background:white;
}

.terminal {
  height:120px;
  background:black;
  overflow:auto;
  padding:10px;
}

@media(max-width:900px){
  #tabs, .preview-container { display:none; }
}
